<nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-column align-items-stretch">
    <div class="d-flex">
        <a href="#" class="navbar-brand mx-sm-auto mr-auto">Task</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse w-100 sticky-top" id="navbarMenu">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a routerLink="" class="nav-link" routerLinkActive="active">Task List</a>
            </li>
            <li class="nav-item">
                <a routerLink="add" class="nav-link" routerLinkActive="active">Add Task</a>
              </li>
        </ul>
    </div>
</nav>

<div class="container">
  <br>
 
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>
